@charset "utf-8";
/* CSS Document */

.success{
	background-color:#F00 !important;
	text-decoration: blink; 
}

#div_conteudo{
	margin-top:10px;
	padding-top:5px;
	margin:auto;
	width:95%;
}
#div_login{
 	margin: auto;
    width: 500px;
    border: 3px solid #317eac;
    padding: 10px;
}

#div_batimentos{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

#div_batimentos img{
	width: 5%;
	height: auto;
	margin-right: 25px;
}
#div_reload {
	margin: 0 auto;
	width: auto; /* Valor da Largura */
}


.div_btn_form{
	width:100%;
	text-align:right;
}


.campo_form{
	text-align:left !important;
}

.logo_medio{
	width:15%;

}

#div_logo_login img{
	float:right;
	vertical-align:top;
}

#div_logo_cabecalho{
	padding:5px 5px 5px 5px;
	text-align:center;
}
.logo_pequeno_cabecalho{
	width:195px;
	height:auto;
	vertical-align:top;
}
.nav_menu{
	width:95%;
	margin: auto;
}
#div_menu{
}

.form_interno{
	margin:auto;
	width:500px;
}

.lbl_form{
	text-align:left !important;
	padding-left: 10px !important;
}
.quadro_hora{
	margin:auto;
	width:400px;
	float:right;
}
.quadro_farmaceutico{
	margin:auto;
	width:400px;
	float:left;
}
.horal_atual{
	font-size:32px;
	font-weight:bold;
	
}
.icone{
	width: 15%;
	height: auto;
}

.info_paciente th{
	font-size: 22px;
	font-weight:bold;
}

.info_paciente td{
	font-size: 20px;

}

.titulo_painel{
	font-size: 26px;
	font-weight:bold;

}
.info_paciente{
	width: 100% !important;
	border: 0px !important;
}

#div_info_cardio{

}

#div_info_temperatura{

}
#infos_paciente{
	float: right;
	width: 30%;
}
#infos_graficos{
	width: 65%;
	float: left;
}
.div_grafico{
height: 230px; width: 100%;
}
.titulo_grafico{
	font-size: 18px;
	font-weight: bold;
	color: #888;
	border-width: 2px solid #000;
}

.info_dados{
	background-color:#4682B4;
	width: 100%;
	height: 100px;
	font-size: 30px;
	text-align: center;
	position: relative;
	font-size: 44px;
	color:#FFF;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.paciente_dados{
background-color:#4682B4;	
color:#FFF;
font-size: 16px;
font-weight: bold;
}
.info_dados_h1{
	font-size: 22px !important;
	color: #FFF !important;
}

 .morris-hover.morris-default-style {
      font-size: 14px !important;
    }



 @media (max-width : 320px) {
 	.grafico{
 		width: 90%;
 		height: auto;
 	}
  }